.mag_con{
	position: absolute;
	left: 300px;
	top: 20px;
	width: 650px;
	padding: 5px;
	margin: 5px;
	/*
	border-color: #800;
	border-style: dotted;
	border-width: 2px;
	border-radius: 20px;
	*/
}
.mag_text {
	font-size: 14px;
}
.mag_title {
	font-weight: bold;
	font-size: 30px;
	letter-spacing: 10px;
	text-align: center;
	color: #00F;
}
.mag_author {
	text-align: right;
	font-style: italic;
}
.mag_subtitle {
	color: #008;
	text-align: center;
	font-style: italic;
	font-size: 12px;
	line-height: 30px;
}
.mag_comment {
	font-size: 16px;
	border-color: red;
	border-style: dashed;
	border-width: 1px;
	padding: 2px;
}

.menu {
	position: absolute;
	left: 10px;
	top: 120px;
	width: 200px;
	font-size: 20px;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #842;

}
.item {
	font-size: 12px;
}
.item:hover {
	background-color: #ccc;
}
.item_sel{
	font-size: 12px;
	font-weight: bold;
	padding-left: 8px;
	background-color: #8cf;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #800;
}
